@import 'tailwindcss';
@import 'tw-animate-css';

@source '../config.json';

@font-face {
	font-family: 'Open Runde';
	src: url(/fonts/OpenRunde-Regular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open Runde';
	src: url(/fonts/OpenRunde-Medium.woff2) format('woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Open Runde';
	src: url(/fonts/OpenRunde-Semibold.woff2) format('woff2');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Open Runde';
	src: url(/fonts/OpenRunde-Bold.woff2) format('woff2');
	font-weight: 700;
	font-display: swap;
}

@theme inline {
	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-brand: hsl(var(--brand));
	--color-cursor: hsl(var(--cursor));
	--color-background: hsl(var(--background));

	--color-foreground: hsl(var(--foreground));
	--color-foreground-secondary: hsl(var(--foreground-secondary));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--foreground-secondary));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-floating: hsl(var(--floating));
	--color-floating-foreground: hsl(var(--floating-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--background-image-grid: url(/img/grid.webp);
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: 1400px;
}

@utility animate-underline {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		border-radius: 10px;
		left: 0;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 98%;
		--foreground-secondary: 240 5% 64.9%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--floating: 240 10% 3.9%;
		--floating-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 0% 7.5%;
		--secondary: 0 0% 12.5%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 60.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 0% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--cursor: 0 100% 100%;
		--scrollbar: 0 0% 15%;
		--brand: 228.9 77.4% 73.9%;

		--radius: 10px;

		--breakpoint-sm: 40rem;
		--breakpoint-md: 48rem;
		--breakpoint-lg: 64rem;
		--breakpoint-xl: 80rem;
		--breakpoint-2xl: 96rem;

		color-scheme: dark;
		font-family: 'Open Runde', system-ui, Avenir, Helvetica, Arial, sans-serif;
		box-sizing: border-box;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	html,
	body {
		@apply bg-background text-foreground;
	}

	/* Fix over-scroll on iOS */
	html::after {
		@apply bg-background;

		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

::-webkit-scrollbar {
	width: 7.5px;
	height: 7.5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--scrollbar));
	border-radius: 10px;
}

svg {
	pointer-events: none;
}

.fade-in {
	-webkit-transform: translateZ(0);
}
